In [ ]:
#Step 1 Load the Data
import pandas as pd
df = pd.read_csv('Data.csv')
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
#Step 2: Handle Missing Values
# Check for missing values
print(df.isnull().sum())
import numpy as np

# Fill missing Age with mean age
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Fill missing Salary with median salary
df['Salary'].fillna(df['Salary'].median(), inplace=True)

print(df)

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64
   Country        Age   Salary Purchased
0   France  44.000000  72000.0        No
1    Spain  27.000000  48000.0       Yes
2  Germany  30.000000  54000.0        No
3    Spain  38.000000  61000.0        No
4  Germany  40.000000  61000.0       Yes
5   France  35.000000  58000.0       Yes
6    Spain  38.777778  52000.0        No
7   France  48.000000  79000.0       Yes
8  Germany  50.000000  83000.0        No
9   France  37.000000  67000.0       Yes

In [ ]:
#Step 3: Convert Data Types
#Ensure that Age and Salary columns are of numeric type.
# Convert Age and Salary to numeric types if they are not already
df['Age'] = pd.to_numeric(df['Age'])
df['Salary'] = pd.to_numeric(df['Salary'])

print(df.dtypes)

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [ ]:
#Step 4: Normalize/Scale Numerical Values
#Normalize the Age and Salary columns using Min-Max scaling.
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

# Normalize Age and Salary
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

print(df)

   Country       Age    Salary Purchased
0   France  0.739130  0.685714        No
1    Spain  0.000000  0.000000       Yes
2  Germany  0.130435  0.171429        No
3    Spain  0.478261  0.371429        No
4  Germany  0.565217  0.371429       Yes
5   France  0.347826  0.285714       Yes
6    Spain  0.512077  0.114286        No
7   France  0.913043  0.885714       Yes
8  Germany  1.000000  1.000000        No
9   France  0.434783  0.542857       Yes